@model Pokedex.Web.Models.Pokemon

@{
    ViewData["Title"] = "Pokemon";
}

<h1>@Model.Name</h1>

<h2>@Model.Number</h2>

@foreach (Pokedex.Web.Models.Type type in Model.Types)
{
    <h2>@type.Name</h2>
}

<h2>@Model.Species</h2>